.swiper-container, .w{height: calc(100vh - 60px);}
body,html{
	background-color: #F0F0F0;
}
.container{
	width: 7.5rem;
	height: 100%;
	text-align: center;
	background-color: #f0f0f0;
	font-family: PingFangSC-Medium;
}
.search_warp{
	background-color: #ffffff;
	height: 1.1888rem;
	 z-index: 1000;
    position: relative;
}
.search_warp input.search{
	height: 0.68rem;
	margin-left: 0.25rem !important;
}
/*轮播图*/
#slider {
	overflow: hidden;
	height:2.16rem;
	background-color: #fff;
 }
#slider img{
  width:6.9rem !important;
  margin-left: 0.3rem;
  /*height:2.16rem;*/
  height:2.02rem;
  border-radius: .1rem;
  padding:0 .05rem;
}
.mui-slider{
	z-index:0;
}
.mui-slider-item .mui-active{
	transform: scale(.8);
	height: 2.16rem;
	width: 6.9rem;
}
.mui-slider .mui-slider-group{
	transform: scale(.9);
}
.mui-slider-item{
	height: 2.16rem;
	width:6.9rem !important;
}
/*<!--Part two 详情列表-->*/
.second{
    width: 100%;
}
.second_list{
   	width: 100%;
    text-align: center;
    background: #ffffff;
    padding-bottom: .30rem;
}
.second_list li{
    display:inline-block;
    width:20%;
    text-align:center;
    box-sizing: border-box;
}
.second_list li a:hover{
    text-decoration: none;
}
.second_list li:nth-child(1) img{
    width:.91rem;
    height:.91rem;
    margin-top:.37rem;
}
.second_list li:nth-child(2) img{
    width:.88rem;
    height:.88rem;
    margin-top:.40rem
}
.second_list li:nth-child(3) img{
    width:.91rem;
    height:.91rem;
    margin-top:.40rem;
}
.second_list li:nth-child(4) img{
    width:.86rem;
    height:.77rem;
    margin-top:.45rem;
}
.second_list span{
    display: block;
    text-align: center;
    padding-top:.2rem;
    font-size:.24rem;
    color:#2A2A2A;
   	font-family: PingFangSC-Medium;
}
/*课程推荐*/
.class_good{
	width:100%;
	height: .96rem;
	background: #fff;
	margin:.20rem 0;
	text-align: center;
}
.class_good img{
	display: block;
	width:.2rem;
	height:.3rem;
}
.class_good p{
	display: block;
	color:#666;
	padding:0 .1rem;
	font-size: .3rem;
	font-family: PingFangSC-Medium;
}
.class_good div{
	display: flex;
	width:1.82rem;
	height:100%;
	margin: 0 auto;
	align-items:center;
}
/*内容区重置样式*/
.course_cont_img_name{
	display:flex;
}
.course_cont_img_huati{
	display: flex;
}
/*回到顶部*/
#toTop{
	width:.70rem;
	height:.70rem;
	border-radius: 50%;
 	position:fixed;
  	bottom:200px;
  	right:.1rem;
  	opacity:.8;
  	color:#999;
  	text-align: center;
  	border:1px solid #c5c5c3;
  	background-color: #fff;
  	font-size: .18rem;
  	font-family: PingFangSC-Medium;
  	z-index:100;
  	display:none;
}
#toTop img{
	display: block;
	width:.24rem;
	height:.28rem;
	margin:.01rem auto;
	margin-bottom:.07rem;
}
#toTop a:hover{
	color:#666;
}
.loadtip p{
	font-size: 0.26rem;
	text-align: center;
	height: 0.4rem;
	line-height: 0.4rem;
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	/*display: none;*/
	text-align: center;
	background-color: #EFEFF4;
	z-index: 10;
	font-size: 0.26rem;
	text-align: center;
}

