.audit_details_container{
	width:7.5rem;
}
.audit_details_header{
	margin:.32rem .4rem .5rem .4rem;
}
.audit_details_header img{
	width:.88rem;
	height:.88rem;
	float: left;
}
.audit_details_header p{
	width:5.58rem;
	line-height: .5rem;;
	color:#000;
	margin-left: 0.24rem;
	font-size: .34rem;
	font-family: PingFangSC-Medium;
	display: inline-block;
	font-weight: bold;
}
/*列表信息*/
.audit_details_msg{
	padding:0 .4rem;
}
.audit_details_msg li{
	color:#ABAFBE;
	font-size: .32rem;
	font-family: PingFangSC-Medium;
	margin-bottom: .32rem;
}
.audit_details_msg li span{
	color:#666;
	font-size: .32rem;
	font-family: PingFangSC-Medium;
	margin-left: .32rem;
}
.audit_details_msg .uname span{
	padding-left:.34rem;
}
.audit_details_msg .margin_lf span{
	padding-left:.64rem;
}
/*底部*/
.footer{
	width:7.5rem;
	height:1.2rem;
	line-height: 1.2rem;
	box-shadow: 0 0.04rem 0.7rem rgba(000,000,000,0.2);
	position: fixed;
	bottom:0;
}
.footer ul li{
	width:49%;
	height:.76rem;
	line-height: .76rem;
	float: left;
	text-align: center;
	margin-top: .2rem;
	font-family: PingFangSC-Medium;
	font-size: .34rem;
}
.footer ul li:nth-child(1){
	color:#3A3A3A;
	border-right:.01rem solid #ddd;
}
.footer ul li:nth-child(2){
	color:#2346ff;
}
