body{
	background-color: #f0f0f0;
}
.active_title{
	width: 18.75rem;
	height: 2.5rem;
	background-color: #ffffff;
}
.active_title p{
	text-align: center;
	line-height: 2.5rem;
	height: 2.5rem;
	color: #1d1f1e;
	font-size: 0.8rem;
}
.active_pic{
	width: 18.75rem;
	height: 11.1rem;
	background-color: #ffffff;
}
.active_pic img{
	height: 11.1rem;
	width: 17.25rem;
	margin: 0 auto;
	display: block;
}
/* 活动信息 */
.avtive_info{
	width: 18.75rem;
	height: auto;
	background-color: #ffffff;
	margin-bottom: 0.5rem;
}
.avtive_info_ul{
	margin: 0 auto;
	width: 17.25rem;
	/*height: 4.75rem;*/
	border-bottom: solid 1px #f0f0f0;
}
.avtive_info li{
	height: 1.25rem;
	line-height: 1.25rem;
}
.avtive_info li span{
	font-size: 0.8rem;
	color: #474747;
}
.avtive_info_add{
	padding-top: 0.725rem;
}
.avtive_info_add img{
	width: 0.75rem;
	height: 1.0rem;
	margin-left: 0.9rem;
	margin-right: 0.7rem;
	margin-top: 0.15rem;
}
.avtive_info_time{
	padding-bottom: 0.625rem;
}
.avtive_info_time img{
	width: 0.85rem;
	height: 0.85rem;
	margin-left: 0.8rem;
	margin-right: 0.65rem;
	margin-top: 0.2rem;
}
.avtive_info_intro{
	width: 17.25rem;
	padding-top: 0.75rem;
	margin: 0 auto;
	padding-bottom: 0.9rem;
}
.avtive_info_intro p{
	word-break:break-all;
	padding-left: 0.85rem;
	font-size: 0.75rem;
	color: #5a5959;
	line-height: 1.0rem;
}

/* 评论 */
.commont_warp{
	width: 18.75rem;
	height: auto;
	background-color: #ffffff;
	padding-bottom: 2.6rem;
	margin-bottom: 2.85rem;
}
.commont_title{
	width: 18.75rem;
	border-bottom: solid 1px #f0f0f0;
	height: 2.5rem;
}
.commont_title_commont{
	padding-left: 1.05rem;
	float: left;
	line-height: 2.5rem;
}
.commont_title_commont span,.commont_title_like span{
	display: inline-block;
	padding-right: 0.6rem;
	color: #0c2a03;
	font-size: 0.7rem;
}
/*.commont_title_like{
	padding-right: 0.45rem;
	float: right;
	line-height: 2.5rem;
}
.commont_title_like img{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.4rem;
}*/
/* 评论内容 */
.commont_info{
	min-height: 3.1rem;
	width: 18.75rem;
	background-color: #ffffff;
	display: flex;
}
.commont_info_left{
	width: 4.5rem;
	height: auto;
}
.commont_info_left img{
	width: 2.4rem;
	height: 2.4rem;
	margin-top: 0.7rem;
	margin-left: 1.2rem;
	margin-right: 0.9rem;
}
.commont_info_right{
	width: 13.0rem;
	height: auto;
	padding-top: 0.6rem;
	padding-bottom: 1.95rem;
	padding-right: 1.05rem;
}
.commont_info_right .commont_name{
	font-size: 0.75rem;
	height: 0.95rem;
	line-height: 0.95rem;
	color: #423737;
	font-size: 0.75rem;
}
.commont_info_right .commont_cont{
	font-size: 0.75rem;
	line-height: 0.85rem;
	color: #888888;
	font-size: 0.65rem;
	word-break:break-all;
}
.allCommont{
	width: 7.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	color: #84b039;
	font-size: 0.65rem;
	text-align: center;
	display: block;
	margin: 0 auto;
	border: solid 1px #84b039;
	border-radius: 0.75rem;
	outline: none;
}
.allCommont a{
	color: #84b039;
}

/* 底部操作信息 */
.operate{
	position: fixed;
	bottom: 0;
	background-color: #f0f0f0;
	height: 2.85rem;
	width: 18.75rem;
	z-index: 10;
}
.active_signUp{
	width: 6.2rem;
	height: 1.85rem;
	background-color: #40c046;
	font-size: 0.8rem;212
	color: #ffffff;
	border-radius: 0.2rem;
	margin-top: 0.5rem;
	margin-left: 0.9rem;
	border: none;
	outline: none;
	float: left;
}
.active_signUp a{
	color: #ffffff;
}
.active_commont{
	padding-left: 1.65rem;
	width: 4.85rem;
	float: left;
}
.active_commont span{
	font-size: 0.8rem;
	color: #363636;
	line-height: 2.85rem;
	height: 2.85rem;
}
.active_commont img{
	width: 1.2rem;
	height: 1.0rem;
	margin-top: 0.925rem;
	margin-right: 0.45rem;
}

.active_collect{
	float: left;
}
.active_collect span{
	font-size: 0.8rem;
	color: #363636;
	line-height: 2.85rem;
	height: 2.85rem;
}
.active_collect img{
	width: 1.1rem;
	height: 1.05rem;
	margin-top: 0.9rem;
	margin-right: 0.45rem;
}