body{
	background-color: #f0f0f0;
}

/* 评论 */
.commont_warp{
	width: 18.75rem;
	height: auto;
	background-color: #ffffff;
}
.commont_title{
	width: 18.75rem;
	border-bottom: solid 1px #dddcdc;
	height: 2.4rem;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 100;
}
.commont_title_commont{
	float: left;
	line-height: 2.4rem;
}
.commont_title_commont span{
	float: left;
	display: block;
	height: 0.7rem;
	color: #0c2a03;
	font-size: 0.7rem;
	margin-right: 0.6rem;
}
.commont_title_commont span.line{
	width: 0.15rem;
	height: 0.7rem;
	background-color: #1eb04e;
	margin-left: 1.05rem;
	margin-right: 0.25rem;
	margin-top: 0.85rem;
}

.commont_title_like span{
	padding-right: 1.05rem;
	color: #555b53;
	font-size: 0.7rem;
}
.commont_title_signUp{
	float: right;
}
.commont_title_signUp button{
	width: 3.75rem;
	height: 1.35rem;
	background-color: #40c046;
	font-size: 0.7rem;
	color: #ffffff;
	margin-top: 0.525rem;
	margin-right: 1.05rem;
}


/* 评论内容 */
.commont_info_warp{
	width: 18.75rem;
	height: auto;
	margin-top: 0;
	margin-bottom: 2.85rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.commont_info{
	width: 18.75rem;
	height: auto;
}
.commont_info_list{
	min-height: 3.1rem;
	width: 18.75rem;
	background-color: #ffffff;
	display: flex;
}
.commont_info_left{
	width: 4.5rem;
	height: auto;
}
.commont_info_left img{
	width: 2.4rem;
	height: 2.4rem;
	margin-top: 0.7rem;
	margin-left: 1.2rem;
	margin-right: 0.45rem;
}
.commont_info_right{
	padding-left: 0.4rem;
	width: 14.55rem;
	height: auto;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-right: 1.05rem;
	border-bottom: solid 1px #f0f0f0;
	position: relative;
}
.commont_info_right .commont_like{
	position: absolute;
	top: 0.525rem;
	right: 1.6rem;
}
.commont_info_right .commont_like img{
	width: 0.775rem;
	height: 0.75rem;
	margin-right: 0.35rem;
}
.commont_info_right .commont_like span{
	color: #919191;
	font-size: 0.7rem;
}
.commont_info_right .commont_name{
	height: 0.95rem;
	line-height: 0.95rem;
	color: #8c8c8c;
	font-size: 0.75rem;
	padding-bottom: 0.2rem;
}
.commont_info_right .commont_cont{
	font-size: 0.75rem;
	line-height: 0.85rem;
	color: #3a3a3a;
	font-size: 0.75rem;
	word-break:break-all;
}



/* 底部操作信息 */
.operate{
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	border-top: solid 1px #ebe9e9;
	height: 2.85rem;
	width: 18.75rem;
	z-index: 10;
}
.beauty_commont{
	float: left;
	margin-left: 1.05rem;
	margin-top: 0.575rem;
	margin-bottom: 0.6rem;
	color: #7e817c;
	background-color: #f5f5f5;
	width: 12.0rem;
	border: solid 1px #d2a850;
	font-size: 0.75rem;
	line-height: 1.0rem;
	padding-top: 0.325rem;
	padding-bottom: 0.325rem;
	padding-left: 0.45rem; 
}

.beauty_collect{
	float: left;
	position: absolute;
	right: 0.5rem;
	left: 14.25rem;
	bottom: 0;
}
.beauty_collect span{
	font-size: 0.8rem;
	color: #7e817c;
	line-height: 2.85rem;
	height: 2.85rem;
}
.beauty_collect img{
	width: 1.1rem;
	height: 1.05rem;
	margin-top: 0.9rem;
	margin-right: 0.45rem;
}