body{
	background-color: #f0f0f0;
}
.index{
	padding-bottom: 6.6rem;
}
.list_base_info_warp{
	width: 18.75rem;
	height: auto;
	background-color: #ffffff;
}
.list_base_info_warp .list_base_info{
	height: 2.4rem;
	width: 18.75rem;
	clear: both;
	border-bottom: solid 1px #f0e9e9;
	overflow: hidden;
	position: relative;
}
.list_base_info_warp .list_base_info .user_detail_warp{
	position: absolute;
	left: 3.5rem;
	margin-top: 0.7rem;
	height: 1rem;
	line-height: 1rem;
}
.list_base_info_warp .list_base_info .user_detail{
	width: 7.125rem;
	float: left;
	position: relative;
}
.list_base_info_warp .list_base_info .user_detail input{
	left: 1.2rem;
	margin-top: 0;
	width: 5.25rem;
}
.list_base_info_warp .list_base_info .user_detail span,.list_base_info_warp .list_base_info .user_detail input{
	float: left;
	font-size: 0.8rem;
}

.list_base_info_warp .list_base_info:nth-last-child(1){
	border-bottom: none;
}
.list_base_info_warp .list_base_info .user_icon{
	width: 0.95rem;
	height: 0.85rem;
	position: absolute;
	top: 0.75rem;
	left: 1.85rem;
}
.list_base_info_warp .list_base_info .sex_icon,.list_base_info_warp .list_base_info .age_icon,.list_base_info_warp .list_base_info .nation_icon{
	width: 0.95rem;
	height: 0.95rem;
	position: absolute;
	top: 0.725rem;
	left: 1.85rem;
}
.list_base_info_warp .list_base_info .tel_icon{
	width: 0.75rem;
	height: 1.05rem;
	position: absolute;
	top: 0.65rem;
	left: 1.95rem;
}
.list_base_info_warp .list_base_info .idCard_icon{
	width: 1.05rem;
	height: 0.8rem;
	position: absolute;
	top: 0.8rem;
	left: 1.8rem;
}
.info_radio_warp{
	position: absolute;
	left: 3.5rem;
}
.info_radio_warp .info_radio input[type='radio']{
	left: 0;
}



.list_base_info_warp .list_base_info input{
	position: absolute;
	width: 14.25rem;
	left: 3.5rem;
	margin-top: 0.7rem;
	display: block;
	height: 1rem;
	overflow: hidden;
	line-height: 1rem;
	font-size: 0.75rem;
	color: #5a5959;
	outline: none;
	border: none;
	float: left;
}
.list_other_info_warp{
	width: 18.75rem;
	height: auto;
}
.list_other_info_warp .list_other_info{
	height: 3rem;
	background-color: #ffffff;
	padding-left: 1.8rem;
	line-height: 3rem;
}
.list_other_info_warp .list_other_info span{
	color: #2a2b2a;
	font-size: 0.75rem;
	display: block;
	width: 4.5rem;
	float: left;
}
.list_other_info_warp .list_other_info label{
	line-height: 3.0rem;
}
.list_other_info_warp .list_other_info img{
	margin-top: 1.075rem;
	float: left;
}
.list_other_info_warp .list_other_info:nth-child(1){
	height: 2.05rem;
	line-height: 2.05rem;
	margin-bottom: 0.25rem;
	margin-top: 0.2rem;
}
.list_other_info_warp .list_other_info:nth-child(1)  p{
	color: #837b7b;
	font-size: 0.8rem;
}
.list_other_info_warp .list_other_info:nth-child(2){
	border-bottom: solid 1px #f0e9e9;
}

/* 单选 */
.info_radio{
	position: relative;
	height: 100%;
	float: left;
}
.info_radio input{
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 100;
}
.info_radio label{
	font-size: 0.8rem;
	float: left;
	line-height: 2.4rem;
	height: 2.4rem;
	margin-right: 0.7rem;
	color: #5a5959;
}
.info_radio img{
	float: left;
	line-height: 2.4rem;
	height: 2.4rem;
	width: 0.95rem;
	height: 0.95rem;
	margin-top: 0.725rem;
	margin-right: 1.35rem;
}
/* 备注 */
.remarks_info{
	width: 18.75rem;
	height: auto;
	min-height: 4.5rem;
	background-color: #ffffff;
	margin-top: 0.45rem;
	position: relative;
}
.remarks_info span{
	font-size: 0.75rem;
	color: #2a2b2a;
	display: inline-block;
	width: 2.8rem;
	position: absolute;
	top: 0.75rem;
	line-height: 1.0rem;
}
.remarks_info p{
	padding-left: 1.8rem;
	padding-right: 1.0rem;
	padding-top: 0.75rem;
	height: auto;
	min-height: 4.5rem;
	padding-bottom: 0.75rem;
	word-break: break-all;
}
.remarks_info p span.remarks{
	width: 15.95rem;
	font-size: 0.75rem;
	color: #878282;
	line-height: 1.0rem;
	text-indent: 2.8rem;
	outline: none;
	border: none;
	min-height: 4.5rem;
}
.medical_report{
	display: none;
	width: 18.75rem;
	height: 3.0rem;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.medical_report label{
	width: 18.75rem;
	text-align: center;
	color: #4b82ff;
	font-size: 0.7rem;
	padding-top: 1.2rem;
	display: block;
	text-decoration: underline;
}
.medical_report input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* 下一步 */
.next{
	width: 18.75rem;
	height: 2.85rem;
	position: fixed;
	bottom: 0;
	z-index: 100;
	font-size: 0.85rem;
	color: #ffffff;
	background-color: #05a610;
	box-shadow: -0.1rem 0 0.2rem rgba(48,48,48,0.05);
}

::-webkit-input-placeholder { /* WebKit browsers */
　　color:#878282;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#878282;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#878282;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#878282;
}