.index{
    width: 7.5rem;
    height: auto;
    background-color: #fbf4e2;
    position: relative;
}
.part_one{
    height: 14.89rem;
    width: 7.5rem;
    position: relative;
}
.logo{
    background: linear-gradient(to bottom, #ff8484,#fbf4e2);
    height: 7.48rem;
    width: 100%;
    position: absolute;
    top: 0;
}
.part_one .tiananmen{
    width: 4.6rem;
    height: 3.93rem;
    position: absolute;
    top: .3rem;
    left: .44rem;
}
.part_one .tiananmen_text{
    width: 6.39rem;
    height: 2.79rem;
    position: absolute;
    top: 3.46rem;
    left: 50%;
    margin-left: -3.195rem;
}
.part_one .clound{
    width: 2.64rem;
    height: 2.03rem;
    position: absolute;
    top: 1.6rem;
    right: 0;
}
.part_one .zoufang_people{
    width: 1.8rem;
    height: 2.7rem;
    position: absolute;
    top: 6.18rem;
    left: 1.98rem;
}
.part_one .zoufang_text{
    width: .76rem;
    height: 3.3rem;
    position: absolute;
    top: 7.48rem;
    left: .78rem;
}
.part_one .laozihao{
    width: 5.63rem;
    height: 7.5rem;
    position: absolute;
    top: 7.05rem;
    right: .25rem;
}
.laozihao_people{
    width: 3.2rem;
    height: 3.16rem;
    position: absolute;
    top: 11.78rem;
    left: .78rem;
}


.part_two{
    height: 14.36rem;
    width: 7.5rem;
    position: relative;
    background-color: #fbf4e2;
}
.part_two .hutong_fangzi{
    width: 5.55rem;
    height: 8.28rem;
    position: absolute;
    top: 0rem;
    left: .36rem;
    z-index: 10;
}
.budao1{
    width: 3.99rem;
    height: 6.86rem;
    position: absolute;
    top: 13.35rem;
    right: 0;
}
.part_two .find_story{
    width: .76rem;
    height: 4.96rem;
    position: absolute;
    top: 0.33rem;
    right: .7rem;
    z-index: 10;
}
.part_two .find_feiyi{
    width: .76rem;
    height: 4.44rem;
    position: absolute;
    top: 9.33rem;
    left: .77rem;
    z-index: 10;
}
.budao2{
    width: 3.76rem;
    height: 5.63rem;
    position: absolute;
    top: 21.8rem;
    right: 3.75rem;
}
.part_two .feiyi_people{
    width: 1.75rem;
    height: 2.69rem;
    position: absolute;
    top: 7.17rem;
    left: 1.85rem;
    z-index: 20;
}
.part_two .feiyi_qipan{
    width: 5.13rem;
    height: 5.68rem;
    position: absolute;
    top: 8.68rem;
    right: .14rem;
    z-index: 10;
}
.budao3{
    width: 3.99rem;
    height: 6.56rem;
    position: absolute;
    top: 28.41rem;
    right: 0;
    z-index: 10;
}


.part_three{
    width: 7.5rem;
    height: 17.82rem;
    background-color: #fbf4e2;
    position: relative;
    padding-bottom: 2rem;
}
.sanshanwuyuan{
    width: 4.78rem;
    height: 8.27rem;
    position: absolute;
    top: .32rem;
    left: .34rem;
    z-index: 10;
}
.sanshan_text{
    width: .76rem;
    height: 3.84rem;
    position: absolute;
    top: 1.49rem;
    right: .71rem;
    z-index: 10;
}
.sanshan_people{
    width: 1.74rem;
    height: 3.71rem;
    position: absolute;
    top: 7.08rem;
    right: .32rem;
    z-index: 10;
}
.budao4{
    width: 4.53rem;
    height: 6.95rem;
    position: absolute;
    top: 7.85rem;
    right: 0;
}
.baoming{
    width: 3.29rem;
    height: 5.01rem;
    position: absolute;
    top: 10.08rem;
    right: 1.43rem;
}
.baoming_people{
    width: 4.09rem;
    height: 4.82rem;
    position: absolute;
    top: 13rem;
    right: 1.42rem;
}
button{
    position: absolute;
    display: inline-block;
    font-size: .3rem;
    font-family: PingFangSC-Medium;
    color: #fff;
    writing-mode:lr-tb;
    line-height: .4rem;
    width: .5rem;
    height: 1rem;
    background-color: #a4080b;
}
.laozihao_more{
    top: 9.75rem;
    left: 1.7rem;
}
.story_more{
    top: .33rem;
    right: 1.63rem;
}
.feiyi_more{
    top: 12.76rem;
    left: 1.67rem;
}
.sanshan_more{
    top: 5.49rem;
    right: .71rem;
}



/* 蒙版样式 */
.mask{
    width: 7.5rem;
    background-color: #000;
    opacity: 0.25;
    position: fixed;
    top: 0;
    z-index: 50;
    overflow: hidden;
    display: none;
}

/* 弹框样式 */

.layer{
    display: none;
    width: 4.82rem;
    height: 8.53rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.41rem;
    margin-top: -4.26rem;
    background-image: url(../../images/capital/layer_bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 4.82rem 8.53rem;
    z-index: 100;
}
.close_layer{
    width: .53rem;
    height: .53rem;
    position: absolute;
    top: 0.74rem;
    right: 0;
}
.layer_title{
    display: block;
    margin: 2.14rem auto .3rem;
}
.layer_title0{
    display: block;
    margin: 2.4rem auto .3rem;
    width: 3.76rem;
    height: .67rem;
}
.layer_title1{
    width: 2.98rem;
    height: 1.44rem;
}
.layer_title2{
    width: 2.98rem;
    height: 1.44rem;
}
.layer_title3{
    width: 2.21rem;
    height: 1.44rem;
}
.layer_text{
    line-height: .48rem;
    color: #450305;
    font-size: .36rem;
    width: 3.68rem;
    margin: 0 auto;
    word-break: break-all;
}
.layer_text2{
    line-height: .42rem;
}
