body{
	-webkit-overflow-scrolling:touch; 
}
/*头部重置样式*/
.weui-navbar__item{
	width:3.67rem;
}
.weui-navbar__item:nth-child(3).weui-bar__item--on span,
.weui-navbar__item:nth-child(4).weui-bar__item--on span ,
.weui-navbar__item:nth-child(5).weui-bar__item--on span  {
    width: 2.5rem;
    margin-left: -1.25rem;
}
/*列表样式*/
.beauty_pic_list{
	height: 7.85rem;
	margin-bottom:0;
	border-bottom: 0.025rem solid #ddd;
}
.pic_list_left img{
	width:3rem;
	height:3rem;
	margin:0.8rem 0.85rem 0 1.2rem;
}
.pic_list_left{
	width:auto;
}
.pic_list_right{
	width:13rem;
}
.pic_list_right .pic_title{
	color:#3A3A3A;
	margin-top:0.8rem;
	margin-bottom: 0.45rem;
	font-size: 0.85rem;
	font-weight: bold;
	font-family: PingFangSC-Semibold;
}
.pic_list_right ul li{
	margin-bottom: 0.225rem;
}
.pic_list_right ul li span{
	color:#8C8C8C;
	font-size: 0.65rem;
	font-family: PingFangSC-Regular;
}
.pic_list_right ul li img{
	width:0.55rem;
	height:0.65rem;
	margin-right:0.225rem;
	vertical-align: middle;
}
.pic_list_right ul li:nth-child(3){
	margin-bottom: 0.725rem;
}
.pic_list_right ul li:nth-child(2) img,
.pic_list_right ul li:nth-child(3) img{
	width:.65rem;
	height:.65rem;
}
/*付款信息*/
.pic_list_right .pic_pay{
	height:1.2rem;
	line-height: 1.2rem;
	display: inline;
	margin-left:4.8rem;
	color:#FF0000;
	font-size: 0.65rem;
	font-family: PingFangSC-Medium;
}
.pic_list_right .pic_pay span{
	margin-right:0.6rem;
}
.pic_list_right .pic_pay .blank{
	color:#3A3A3A;
}
.pic_list_right .pic_pay button{
	width:4.5rem;
	height:1.2rem;
	line-height: 1rem;
	color:#AE9257;
	font-size: 0.65rem;
	border-radius:0.6rem;
	border:0.025rem solid #AE9257;
	font-family: PingFangSC-Medium;
}
.pic_list_right .pic_payed{
	margin-left:0;
	display: inline-flex;
	margin-left:0;
}
.pic_list_right .pic_pay .payed{
	color:#8C8C8C;
	border:0.025rem solid #8C8C8C;
	margin-right: .6rem;
}
.pic_list_right .pic_receive{
	color:#027F48;
	font-size: 0.6rem;
	font-family: PingFangSC-Medium;
	float: right;
	position: relative;
	top:-1.2rem;
	right:.4rem;
}
.pic_list_right .pic_receive img{
	width:0.4rem;
	height:0.4rem;
	vertical-align: middle;
	margin-left:0.25rem;
}
.pic_list_right .pic_received{
	color:#8C8C8C;
	right:.4rem;
}
/*重置swiper样式*/
.swiper-slide{
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch; 
}
.swiper-container {
	margin-bottom: 0rem;
}
/*团队样式*/
.tab_common{
	height:10.15rem;
}
.tab_common .tab_common_left img{
	width:5.15rem;
	height:5.15rem;
	margin:0.8rem 0.85rem 0 1.05rem;
}
.tab_common .tab_common_right{
	width:10.95rem;
}
.tab_common .tab_common_right .pic_pay{
	margin-left: 0;
}
.tab_common .tab_common_right ul li:nth-child(1) img,
.tab_common .tab_common_right ul li:nth-child(3) img,
.tab_common .tab_common_right ul li:nth-child(4) img{
	width:.65rem;
	height:.65rem;
}
.tab_common .tab_common_right .pic_title img{
	width:0.8rem;
	height:0.775rem;
	margin-right: 0.6rem;
	vertical-align: middle;
}
.tab_common .tab_common_right ul li div{
	color:#8C8C8C;
	height:0.8rem;
	line-height: .8rem;
	display: inline-flex;
	font-size:0.55rem;
	font-family: PingFangSC-Regular;
	position: relative;
	top:-.2rem;
}
.tab_common .tab_common_right ul li{
	height:0.65rem;
	line-height: .65rem;
	margin-bottom: 0.225rem;
	display: flex;
}
.tab_common .tab_common_right ul li span{
	margin-right: 0.5rem;
	position:relative;
	top:.06rem;
}
.tab_common .tab_common_right ul li em{
	color:#fff;
	width:0.8rem;
	height:0.8rem;
	line-height: .8rem;
	border-radius: 50%;
	display: block;
	font-size:0.55rem;
	background-color: #006538;
	margin-right: 0.1rem;
	text-align: center;
	-webkit-text-size-adjust:none;
}
.tab_common .tab_common_right .pic_pay span{
	float: right;
	margin:0.325rem 0 0.875rem 0;
}
.tab_common .tab_common_right .pic_pay button{
    display: table;
    float: right;
}
.tab_common .tab_common_right .pic_pay .talk{
	color:#AE9257;
	border:0.025rem solid #AE9257;
	margin-left: 0.6rem;
}
.tab_common .tab_common_right .pic_pay .talked{
	margin-left: 0.6rem;
}
.tab_common .tab_common_right .pic_receive{
	right:0;
}
.tab_common .tab_common_right .pic_payed{
	color:#8C8C8C;
	display: block;
}
.tab_common .tab_common_right .pic_payed button{
	color:#8C8C8C;
	border:0.025rem solid #8C8C8C;
}

