.index{
    width: 7.5rem;
    height: auto;
    font-family: PingFangSC-Medium;
    background-color: #f5f5f9;
}
.integral_module_first{
    width: 7.5rem;
    height: 5.25rem;
    position: relative;
    margin-bottom: .3rem;
}
/* 积分 */
.integral_num{
    width: 7.5rem;
    height: 2.53rem;
    background-image: url(../../images/friend/integral_bg.png);
    background-size: 7.5rem 3.68rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: .72rem;
    text-align: center;
    padding-top: 1.15rem;
}

/* 赚积分 */
.integral_info{
    position: absolute;
    height: 2.45rem;
    width: 100%;
    top: 2.8rem;
    background-image: url(../../images/friend/integral_info_bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 7.5rem 2.45rem;

}
.integral_info div{
    float: left;
    width: 3.74rem;
}
div.integral_info_line{
    width: .02rem;
    height: 1.66rem;
    background-color: #d3d3d1;
    margin-top: .55rem;
}
.integral_info div img{
    width: 1.07rem;
    height: 1.09rem;
    display: block;
    margin: .55rem auto .3rem;
}
.integral_info div p{
    text-align: center;
    color: #404040;
    font-size: .3rem;
}

/* 积分兑换 */
.integral_exchange{
    background-color: #ffffff;
}
.integral_exchange_title{
    height: .95rem;
    width: 3.15rem;
    margin: 0 auto;
}
.integral_exchange_title p{
    width: .5rem;
    height: .02rem;
    background-color: #777575;
    float: left;
    margin-top: .47rem;
}
.integral_exchange_title img{
    width: .39rem;
    height: .35rem;
    margin-left: .2rem;
    margin-top: .3rem;
    margin-right: .15rem;
    display: block;
    float: left;
}
.integral_exchange_title span{
    font-size: .3rem;
    margin-right: .2rem;
    margin-top: .35rem;
    color: #333;
    display: block;
    float: left;
}
.integral_exchange_detail{
    width: 100%;
    height: auto;
    padding-top: .2rem;
}
.integral_exchange_detail_li{
    width: 3.42rem;
    height: 2.32rem;
    border-radius: .1rem;
    background-color: #d3d1d1;
    margin-left: .24rem;
    margin-bottom: .24rem;
    float: left;
}
