/* 底部导航 */
.nav_bottom{
	border-top: solid 0.01rem #d8d8d8;
	background-color: #ffffff;
	width: 100%;
	height: 1.1rem;
	position: fixed;
	bottom: 0;
}
.nav_bottom li{
	width: 25%;
	height: 1.1rem;
	float: left;
}
.nav_bottom li img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.07rem;
	margin-bottom: 0.08rem;
}
.nav_bottom li span{
	display: block;
	text-align: center;
	margin-bottom: 0.12rem;
	font-size: 0.24rem;
	color: #2a2a2a;
}
/* 搜索框样式 */
.search_warp{
	width: 100%;
	height: .68rem;
	padding-top:.20rem;
	padding-bottom:.20rem;
}
.search_warp input.search{
	width:7rem;
	height:.68rem;
	color:#999;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: .26rem;
	border: none;
	outline: none;
	border-radius:.33rem;
	background-color: #f0f0f0;
	font-family: PingFangSC-Medium;
	background-size:.33rem .33rem;
	background-image: url(../images/human_market/search.png);
	background-repeat: no-repeat;
	background-position: .42rem .16rem;
}