/* 底部导航 */
.nav_bottom{
	border-top: solid 0.01rem #d8d8d8;
	background-color: #ffffff;
	width: 100%;
	height: 1.1rem;
	position: fixed;
	bottom: 0;
	z-index: 100;
}
.nav_bottom li{
	width: 25%;
	height: 1.1rem;
	float: left;
}
.nav_bottom li img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.07rem;
	margin-bottom: 0.08rem;
}
.nav_bottom li span{
	display: block;
	text-align: center;
	margin-bottom: 0.12rem;
	font-size: 0.24rem;
	color: #2a2a2a;
}
/* 搜索框样式 */
.search_warp{
	width: 100%;
	height: .68rem;
	padding-top:.20rem;
	padding-bottom:.20rem;
}
.search_warp input.search{
	width:7rem;
	height:.68rem;
	color:#999;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: .26rem;
	border: none;
	outline: none;
	border-radius:.33rem;
	background-color: #f0f0f0;
	font-family: PingFangSC-Medium;
	background-size:.33rem .33rem;
	background-image: url(../images/human_market/search.png);
	background-repeat: no-repeat;
	background-position: .42rem .16rem;
}
/* 等级样式 */
.user_grade{
	position: absolute;
	top: 0.59rem;
	left: 1.2rem;
	width: 0.42rem;
	height: 0.48rem;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 0.42rem 0.48rem;
}
.gold{	/* 黄金 */
	background-image: url(../images/human_market/gold.png);
}
.bronze{ /* 青铜 */
	background-image: url(../images/human_market/bronze.png);
}
.diamond{	/* 钻石 */
	background-image: url(../images/human_market/diamond.png);
}
.platinum{	/* 铂金 */
	background-image: url(../images/human_market/platinum.png);
}
.silver{	/* 白银 */
	background-image: url(../images/human_market/silver.png);
}

	
/* 图文视频分类样式 */
.course_type{
	position: absolute;
	right: 0.6rem;
	top: 0;
	width: 0.86rem;
	height: 0.43rem;
	text-align: center;
	line-height: 0.43rem;
	color: #fff;
	font-size: 0.24rem;
	background-position: 0 0;
	background-size: 0.86rem 0.43rem;
	background-repeat: no-repeat;
	border-bottom-left-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
}
.tuwen_bg{
	background-image: url(../images/human_market/tuwen_bg.png);
}
.shipin_bg{
	background-image: url(../images/human_market/shipin_bg.png);
}
.yinpin_bg{
	background-image: url(../images/human_market/yinpin_bg.png);
}
/*清除浮动*/
.clearfix{
	content: "";
	display: block;
	clear: both;
}
/* 订阅按钮 */
.isDingyue{
	width: 1.6rem;
	height: 0.6rem;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#a578e1), to(#8d56d8));
	color: #fff;
	font-size: 0.3rem;
	box-shadow: 0 0.08rem 0.12rem rgba(153,103,220,0.4);
	border-radius: 0.3rem;
	margin-top: 0.6rem;
	
}
/* 已订阅按钮 */
.hasDingyue{
	width: 1.58rem;
	height: 0.58rem;
	display: block;
	margin-top: 0.6rem;
	border: 0.02rem solid #a578e1;
	border-radius: 0.29rem;
	color: #772fd8;
	font-size: 0.3rem;
}
/* 手指一动滑动图片样式 */
.list_cont_warp{
	width: 7.5rem;
	height: 1.99rem;
	overflow: hidden;
}
.list_cont{
	height: 1.99rem;
	width: 7.5rem;
	margin-left: 0.45rem;
	margin-right: 0.45rem;
}
.list_cont li{
	float: left;
	width: 2.2rem;
	
}
.list_cont li img{
	width: 2.1rem;
	height: 1.17rem;
	margin-right: 0.1rem;
}
.list_cont li p{
	width: 2.1rem;
	height: 0.82rem;
	line-height: 0.82rem;
	text-align: center;
	color: #2a2a2a;
	font-size: 0.24rem;
	margin-right: 0.1rem;
}
.list_padding_width{
	width: 0.35rem;
	display: none;
>>>>>>> d44358d1bcc639ebf4e3c113f2121719090c911c
}