/* 底部导航 */
.nav_bottom{
	border-top: solid 0.01rem #d8d8d8;
	background-color: #ffffff;
	width: 100%;
	height: 1.1rem;
	position: fixed;
	bottom: 0;
	z-index: 100;
}
.nav_bottom li{
	width: 25%;
	height: 1.1rem;
	float: left;
}
.nav_bottom li img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.07rem;
	margin-bottom: 0.08rem;
}
.nav_bottom li span{
	display: block;
	text-align: center;
	margin-bottom: 0.12rem;
	font-size: 0.24rem;
	color: #2a2a2a;
}
/* 搜索框样式 */
.search_warp{
	width: 100%;
	height: .68rem;
	padding-top:.20rem;
	padding-bottom:.20rem;
}
.search_warp input.search{
	width:7rem;
	float: left;
	padding-top: 0.21rem;
	padding-bottom: 0.21rem;
	height: 0.26rem;
	line-height: normal;
	overflow: hidden;
	color:#999;
	display: block;
	margin-left: 0.25rem;
	text-align: center;
	font-size: .26rem;
	border: none;
	outline: none;
	border-radius:.33rem;
	background-color: #f0f0f0;
	font-family: PingFangSC-Medium;
	background-size:.33rem .33rem;
	background-image: url(../images/human_market/search.png);
	background-repeat: no-repeat;
	background-position: .42rem .16rem;
}

.search_btn{
	opacity: 0;
	margin-left: 0.25rem;
	font-size: 0.32rem;
	height: 0.68rem;
	line-height: 0.68rem;
	color: #6e6e6e;
}
/*.search:focus{color:#915ed7}*/
/* 等级样式 */
.user_grade{
	position: absolute;
	top: 0.59rem;
	left: 1.2rem;
	width: 0.42rem;
	height: 0.48rem;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 0.42rem 0.48rem;
}
.gold{	/* 黄金 */
	background-image: url(../images/human_market/gold.png);
}
.bronze{ /* 青铜 */
	background-image: url(../images/human_market/bronze.png);
}
.diamond{	/* 钻石 */
	background-image: url(../images/human_market/diamond.png);
}
.platinum{	/* 铂金 */
	background-image: url(../images/human_market/platinum.png);
}
.silver{	/* 白银 */
	background-image: url(../images/human_market/silver.png);
}


/* 图文视频分类样式 */
.course_type{
	position: absolute;
	right: 0.6rem;
	top: 0;
	width: 0.86rem;
	height: 0.43rem;
	text-align: center;
	line-height: 0.43rem;
	color: #fff;
	font-size: 0.24rem;
	background-position: 0 0;
	background-size: 0.86rem 0.43rem;
	background-repeat: no-repeat;
	border-bottom-left-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
}
.tuwen_bg{
	background-image: url(../images/human_market/tuwen_bg.png);
}
.shipin_bg{
	background-image: url(../images/human_market/shipin_bg.png);
}
.yinpin_bg{
	background-image: url(../images/human_market/yinpin_bg.png);
}
/* 订阅按钮 */
.isDingyue{
	width: 1.6rem;
	height: 0.6rem;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#a578e1), to(#8d56d8));
	color: #fff;
	font-size: 0.3rem;
	box-shadow: 0 0.08rem 0.12rem rgba(153,103,220,0.4);
	border-radius: 0.3rem;
	margin-top: 0.6rem;
	
}
/* 已订阅按钮 */
.hasDingyue{
	width: 1.58rem;
	height: 0.58rem;
	display: block;
	margin-top: 0.6rem;
	border: 0.02rem solid #a578e1;
	border-radius: 0.29rem;
	color: #772fd8;
	font-size: 0.3rem;
}
/* 手指移动滑动图片样式 */
.list_cont_warp{
	width: 7.5rem;
	height: 1.99rem;
	overflow: hidden;
}
.list_cont{
	height: 1.99rem;
	width: 7.5rem;
	margin-left: 0.45rem;
	margin-right: 0.45rem;
}
.list_cont li{
	float: left;
	width: 2.2rem;
	
}
.list_cont li img{
	width: 2.1rem;
	height: 1.17rem;
	margin-right: 0.1rem;
}
.list_cont li p{
	width: 2.1rem;
	height: 0.82rem;
	line-height: 0.82rem;
	text-align: center;
	color: #2a2a2a;
	font-size: 0.24rem;
	margin-right: 0.1rem;
}
.list_padding_width{
	width: 0.35rem;
	display: none;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}

/* 课程订阅  */
.course_cont{
	background-color: #ffffff;
	width: 100%;
	height: 6.12rem;
	margin-bottom: 0.2rem;
}
.course_cont_title{
	width: 100%;
	height: 1.26rem;
}
.course_cont_title_img{
	width: 0.7rem;
	height: 0.7rem;
	float: left;
	margin: 0.33rem 0.15rem 0.25rem 0.3rem;
}
.course_cont_title_img img{
	width: 100%;
	height: 100%;
	
}
.course_cont_title_name_warp{
	float: left;
}
.course_cont_title_name{
	font-size: 0.26rem;
	padding-top: 0.38rem;
	padding-bottom: 0.15rem;
}
.course_cont_title_time{
	font-size: 0.24rem;
	color: #999;
}
.course_cont_img{
	overflow: hidden;
	display: block;
	margin: 0 auto;
	position: relative;
	width: 6.86rem;
	height: 3.8rem;
	border-radius: 0.1rem;
}
.course_cont_img img{
	width: 100%;
	height: 100%;
}
.course_cont_img_info{
	position: absolute;
	width: 6.86rem;
	overflow: hidden;
	height: 1.25rem;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	border-bottom-left-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
}
.course_cont_img_name{
	margin-top: 0.3rem;
	padding-left: 0.3rem;
	color: #fff;
	font-size: 0.32rem;
}
.course_cont_img_huati{
	margin-top: 0.2rem;
	color: #fff;
	padding-left: 0.3rem;
	font-size: 0.2rem;
}

.course_cont_remark{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.2rem;
}
.course_cont_remark_left{
	padding-left: 0.42rem;
	float: left;
	color: #666;
}
.course_cont_remark_right{
	padding-right: 0.34rem;
	float: right;
}

/* 我的订阅 */
.mydingyue_cont{
	width: 100%;
	height: 1.89rem;
	background-color: #fff;
	position: relative;
}
.tab_switch_left{
	width: 1.65rem;
	height: 1.89rem;
	float: left;
}
.tab_switch_left img{
	width: 1.22rem;
	height: 1.22rem;
	margin-top: 0.24rem;
	margin-right: 0.25rem;
	margin-left: 0.23rem;
}
.tab_switch_right{
	width: 5.85rem;
	height: 1.88rem;
	border-bottom: solid 0.01rem #d8d8d8;
	float: left;
}
.tab_switch_right ul{
	float: left;
	height: 1.88rem;
	float: left;
}
.tab_switch_right ul li:nth-child(1){
	font-size: 0.3rem;
	font-weight: bold;
	padding-top: 0.32rem;
}
.tab_switch_right ul li:nth-child(2){
	font-size: 0.26rem;
	color: #666;
	padding-top: 0.22rem;
}
.tab_switch_right ul li:nth-child(3){
	font-size: 0.2rem;
	color: #666;
	padding-top: 0.22rem;
}
.tab_switch_right button{
	float: right;
	margin-right: 0.23rem;
}
.cancel_dingyue{
	width: 1.25rem;
	height: 1.88rem;
	background-color: #fe0701;
	font-weight: bold;
	color: #fff;
	font-size: 0.22rem;
	float: right;
	line-height: 1.88rem;
	text-align: center;
	position: absolute;
	top: 0;
	right: -0.01rem;
}


/* 搜索结果页的更多 */
.result_more_warp{
	width: 7.5rem;
	height: 1.05rem;
	background-color: #fff;
}
.result_more{
	display: block;
	padding-top: 0.35rem;
	padding-bottom: 0.4rem;
	width: 0.94rem;
	padding-right: 0.36rem;
	background-size: 0.26rem 0.26rem;
	background-position: 0.85rem 0.35rem;
	text-align: center;
	margin: 0 auto;
	font-size: 0.3rem;
	color: #772fd8;
	background-repeat: no-repeat;
	background-image: url(../images/human_market/result_more.png);
	background-color: #ffffff;
}
/* 搜索页面及搜索结果页面标题样式 */
.result_title{
	padding-top: 0.35rem;
	padding-bottom: 0.3rem;
	font-size: 0.34rem;
	color: #313131;
	font-weight: bold;
	padding-left: 0.3rem;
	background-color: #ffffff;
}

/* 搜索面板页面 */
/* 热门话题标题部分样式 */
.search_panel{
	display: none;
	background-color: #fff;
}
.search_panel .operate_his{
	width: 100%;
	height: 1rem;
	background-color: #fff;
}
/* 搜索历史 */
.search_his ul{
	background-color: #fff;
	/*height: 0.8rem;*/
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}
.search_his ul li{
	margin-top: 0.3rem;
	float: left;
	padding-left: 0.24rem;
	padding-right: 0.24rem;
	color: #999;
	font-size: 0.26rem;
	height: 0.5rem;
	line-height: 0.5rem;
	background-color: #f5f5f5;
	margin-right: 0.1rem;
	border-radius: 0.3rem;
}
.search_his ul li:nth-last-child(1){
	margin-bottom: 0.4rem;
}
.operate_his .result_title{
	float: left;
	border-bottom: none;
}
.search_his .operate_his .close_his{
	margin-top: 0.35rem;
	padding-right: 0.3rem;
	float: right;
	width: 0.38rem;
	height: 0.38rem;
}
.search_his .close_his img{
	width: 100%;
	height: 100%;
}
/* 热门话题 */
.remen_huati{
	border-top: solid 0.01rem #E1E0E0;
	clear: both;
	margin-top: 0.4rem;
	padding-top: 0.1rem;
}
.remen_huati .operate_his .more_huati{
	margin-top: 0.40rem;
	padding-right: 0.3rem;
	float: right;
	font-size: 0.28rem;
	color: #999;
}
.remen_huati .operate_his .more_huati img{
	width: 0.14rem;
	height: 0.25rem;
	margin-left: 0.18rem;
}
.remen_huati ul{
	margin-top: 0.1rem;
}
.remen_huati ul li{
	float: left;
	width: 3.75rem;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #999;
	font-size: 0.28rem;
}
.remen_huati ul l i{
	float: left;
}
.remen_huati ul li span{
	margin: 0 auto;
	display: block;
	float: left;
	padding-left: 0.1rem;
	width: 0.76rem;
	height: 0.8rem;
	color: #915ed7;
	font-size: 0.22rem;
	text-align: center;
	line-height: 0.8rem;
	background-position: 0.3rem center;
	background-repeat: no-repeat;
	background-size: 0.36rem;
	background-image: url(../images/human_market/huati_purple.png);
}
.remen_huati ul li:nth-child(1) span{
	color: #ff001e;
	background-image: url(../images/human_market/huati_red.png);
}
.remen_huati ul li:nth-child(2) span,.remen_huati ul li:nth-child(3) span{
	color: #ffca00;
	background-image: url(../images/human_market/huati_yellow.png);
}

.remen_huati ul li:nth-last-child(1) span{
	background-image: url(../images/human_market/huati_last.png);
}
/*底部正在加载*/
.loadtip p{
	font-size: 0.26rem;
	text-align: center;
	height: 0.4rem;
	line-height: 0.4rem;
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	display: none;
	text-align: center;
	background-color: #EFEFF4;
	z-index: 10;
	font-size: 0.26rem;
	text-align: center;
}

.loadtip{
	display: none;
}
.loadtip img{
	width: 5.28rem;
	height: 3.23rem;
	display: block;
	z-index: 100;
	margin: 0 auto;
}


.init-loading{
	display: block;
}
.init-loading img{
	width: 1.61rem;
	height: 3rem;
	display: block;
	z-index: 100;
	position: relative;
	top: -3rem;
	left: 50%;
	margin-left: -0.81rem;
}
/*回到顶部*/
#toTop{
	width:.70rem;
	height:.70rem;
	border-radius: 50%;
 	position:fixed;
  	bottom:2rem;
  	right:.1rem;
  	opacity:.8;
  	color:#999;
  	text-align: center;
  	border:1px solid #c5c5c3;
  	background-color: #fff;
  	font-size: .18rem;
  	font-family: PingFangSC-Medium;
  	z-index:100;
  	display:none;
}
#toTop img{
	display: block;
	width:.24rem;
	height:.28rem;
	margin:.01rem auto;
	margin-bottom:.07rem;
}
#toTop a:hover{
	color:#666;
}


/* 缺省等样式 */
.default{
	display: none;
	width: 7.5rem;
	height: 5.3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3.75rem;
	margin-top: -2.65rem;
}
.default img:nth-child(1){
	width: 4rem;
	height: 3.76rem;
	margin: 0 auto;
	margin-bottom: 0.7rem;
	display: block;
}
.default img:nth-child(2){
	width: 2.47rem;
	height: .59rem;
	margin: 0 auto;
	display: block;
}
