
.list_item{
	width: 7.5rem;
	height: auto;
	margin-top: 1.21rem;
}
.list_item li{
	width: 100%;
	height: 0.96rem;
	margin-bottom: 0.16rem;
	background-image: url(../images/grzx_href.png);
	background-position: 6.73rem center;
	background-size: 0.14rem 0.24rem;
	background-repeat: no-repeat;
	background-color: #f6f6f6;
}
.list_item li a{
	display: block;
	font-size: 0.34rem;
	padding-right: 0.63rem;
	color: #595959;
	width: 100%;
	height: 0.96rem;
	line-height: 0.96rem;
	font-family: PingFangSC-Regular;
	padding-left: 1.2rem;
}
.list_item li a.grzx_data{
	background-image: url(../images/message.png);
	background-repeat: no-repeat;
	background-size: 0.36rem 0.42rem;
	background-position: 0.50rem 0.27rem;
}
.list_item li a.grzx_order{
	background-image: url(../images/order.png);
	background-repeat: no-repeat;
	background-size: 0.34rem 0.42rem;
	background-position: 0.5rem 0.27rem;
}
.list_item li a.grzx_join_active{
	background-image: url(../images/join_active.png);
	background-repeat: no-repeat;
	background-size: 0.45rem 0.34rem;
	background-position: 0.45rem 0.32rem;
}
.list_item li a.grzx_create_team{
	background-image: url(../images/create_team.png);
	background-repeat: no-repeat;
	background-size: 0.54rem 0.4rem;
	background-position: 0.4rem 0.27rem;
}