.xd-tab-ul .active{
	background-color: #F69200;
}
.xd-tab-ul li{
	color: #F69200;
	width: 50%;
}
.list_item{
	margin-top: 2.58rem;
	width: 7.5rem;
	height: auto;
}
.list_item li{
	opacity: 0;
	top: -0.32rem;
	/*display: none;*/
	width: 100%;
	height: 0.98rem;
	line-height: 0.98rem;
	padding-left: 0.63rem;
	padding-right: 0.63rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f6f6f6;
	font-size: 0.32rem;
	font-family: PingFangSC;
	color: #595959;
	position: relative;
}
.xd-tab-div2{
	display: none;
}

.unread{
	border: 1px solid #FF7043;
	width: 6px;
	height: 6px;
	background-color: #FF7043;
	border-radius: 50%;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 0.4rem;
}
.bold{
	font-weight: 700;
}


