
.swiper-container, .w{height: calc(100vh - 60px);}
.z-healthy{
	width: 7.5rem !important;
	margin: 0 auto;
}
.loadtip p{
	display: none;
	width: 7.5rem;
	bottom: 0;
	margin-bottom: 0;
	color: #000;
}
			