body,html{
	background-color: #EFEFF4;
	height: 100%;
	overflow-x: hidden;
}
.swiper-container{
	overflow: hidden;
}
header{
	width: 7.5rem;
	margin-left: -3.75rem;
	left: 50%;
	position: absolute;
}
.swiper-container, .w{height: calc(100vh - 60px);}
.z-healthy{
	width: 7.5rem !important;
	margin: 0 auto;
}
.init-loading img{
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	margin: 0.05rem auto;
}
.loadtip p{
	font-size: 0.26rem;
	text-align: center;
	height: 0.4rem;
	line-height: 0.4rem;
	position: fixed;
	bottom: 0;
	width: 7.5rem;
	text-align: center;
	background-color: #EFEFF4;
	z-index: 10;
	font-size: 0.26rem;
	text-align: center;
}
.outerScroller{
	width: 7.5rem;
	margin: 0 auto;
}	
.scroll{
	position: relative;
	overflow: hidden;
}
.z-alert{
	position: absolute;
}
.z-as-fixed{
	width: 7.5rem;
	left: 50%;
	margin-left: -3.75rem;
}			
/* xinjiade  */
.list-group ul li{
	background-color: #f6f6f6;
}
.z-boxl{
	position: relative;
}
.z-boxl h4{
	margin-top: -.3rem;
}
/*删除*/
.user_say_del{
	width:.4rem;
	height:.4rem;
    margin-right: 1.7rem;
	margin-top: -0.1rem;
}
.z-boxbg{
	padding-top: 0rem;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
#listul{
	margin-left: 0.63rem;
	padding-top: 0.88rem;
	padding-bottom: 0.32rem;
	margin-right: 0.63rem;
}
#listul li{
	margin-top: 0.32rem;
	margin-bottom: 0;
}
.z-boxl2 p{
	text-indent: 0;
}
/*弹出框*/
.alert_show{
    width: 5.60rem;
    height: 3.14rem;
    background: #F6F6F6;
    border-radius: .2rem;
    box-shadow:0 0.15rem 0.8rem #ccc;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-2.8rem;
    margin-top:-1.6rem;
}
.alert_show p{
	line-height: 2.16rem;
	font-size:.32rem;
	font-family: PingFangSC-Medium, sans-serif;
	text-align: center;
	color: #595959;
}
.alert_show ul li{
	width: 2.79rem;
	float: left;
	color: #595959;
	height:.98rem;				
	font-size:.32rem;
	font-family: PingFangSC-Medium, sans-serif;
	line-height:.95rem;
	text-align: center;
	font-weight: bold;
	border-top:1px solid #F5F5F5;
}
.alert_show ul li:nth-child(2){
	width: 2.81rem;
	background-image: url(../images/alert_bg.png);
	background-position: center left;
	background-size: 0.03rem 0.98rem;
	background-repeat: no-repeat;
	
}
.alert_show .first_b{
	height:2.16rem;
	box-shadow:0 2px 6px -2px #999;					
}
.bottom_height{
	height: 0.98rem;
	width: 100%;
}


/* 灰色弹框 */
.notice_layer{
	bottom: 2.42rem;
}